  
<h1>Python Tutorial Lab 5</h1>
</div>
</body>
</html>

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [3]:
import sys
import keyword
import operator
from datetime import datetime
import os

# Lambda, Filter, Map and Reduce

__Lambda__

- A lambda function is an anonymous function (function without a name).


- Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned.


- We use lambda functions when we require a nameless function for a short period of time.


__Syntax:-__

<img src="lambda1.PNG">

__Filter__


- It is used to filter the iterables/sequence as per the conditions.


- Filter function filters the original iterable and passes the items that returns True for the function provided to filter.


- It is normally used with Lambda functions to filter list, tuple, or sets.



filter() method takes two parameters:

- __function__ - function tests if elements of an iterable returns true or false

- __iterable__ - Sequence which needs to be filtered, could be sets, lists, tuples, or any iterators




__Syntax:__

<img src="filter.PNG">

__Map__

- The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns a list of the results.




map() function takes two Parameters :

-   __function__ :  The function to execute for each item of given iterable.


-   __iterable__ : It is a iterable which is to be mapped.


__Returns__ : Returns a list of the results after applying the given function to each item of a given iterable (list, tuple etc.)

__Syntax:__

<img src="map.PNG">

__Reduce__

- The reduce() function is defined in the __functools__ python module.The reduce() function receives two arguments, a function and an iterable. However, it doesn't return another iterable, instead it returns a single value.


__Working:__

 1)  Apply a function to the first two items in an iterable and generate a partial result.

 2)  The function is then called again with the result obtained in __step 1__ and the next value in the sequence. This process keeps on repeating until there are items in the sequence.

 3)  The final returned result is returned and printed on console.



__Syntax:__

<img src="reduce.PNG">

In [34]:
addition = lambda a : a + 10  # This lambda function adds value 10 to an argument.
print(addition(5))

15

In [35]:
product = lambda a, b : a * b #This lambda function takes two arguments (a,b) and returns their product (a*b).
print(product(5, 6))

30

In [ ]:
addition = lambda a, b, c : a + b + c  #This lambda function takes three arguments (a,b,c) and returns their sum (a+b+c).
print(addition(5, 6, 2))

In [ ]:
res = (lambda *args: sum(args))  # This lambda function can take any number of arguments and return thier sum.
res(10,20) , res(10,20,30,40) ,  res(10,20,30,40,50,60,70)

In [ ]:
res1 = (lambda **kwargs: sum(kwargs.values())) # This lambda function can take any number of arguments and return thier sum.
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

In [ ]:
res1 = (lambda **kwargs: sum(kwargs.values())) # This lambda function can take any number of arguments and return thier sum.
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

In [ ]:
# User defined function to find product of numbers
def product(nums):
    total = 1
    for i in nums:
        total *= i
    return total

# This lambda function can take any number of arguments and return thier product.
res1 = (lambda **kwargs: product(kwargs.values()))
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

In [ ]:
def myfunc(n):
  return lambda a : a + n

add10 = myfunc(10)
add20 = myfunc(20)
add30 = myfunc(30)

print(add10(5))
print(add20(5))
print(add30(5))

In [36]:
list1 = [1,2,3,4,5,6,7,8,9]

def odd(n):
    if n%2 ==1: return True
    else: return False

odd_num = list(filter(odd,list1)) # This Filter function filters list1 and passes all odd numbers to filter().
odd_num

[1, 3, 5, 7, 9]

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
# The below Filter function filters "list1" and passes all odd numbers using lambda function to filter().
odd_num = list(filter(lambda n: n%2 ==1 ,list1))
odd_num

In [ ]:
def twice(n):
    return n*2

doubles = list(map(twice,odd_num)) # The map function will apply user defined "twice()" function on all items of the list
doubles

In [ ]:
doubles = list(map(lambda n:n*2,odd_num)) # This map function will double all items of the list using lambda function.
doubles

In [ ]:
from functools import reduce

def add(a,b):
    return a+b

sum_all = reduce(add,doubles) # This reduce function will perform sum of all items in the list using user defined "add()" func.
sum_all

In [ ]:
#The below reduce() function will perform sum of all items in the list using lambda function.
sum_all = reduce(lambda a,b : a+b,doubles)
sum_all

In [ ]:
# Putting all together

sum_all = reduce(lambda a,b : a+b,list(map(lambda n:n*2,list(filter(lambda n: n%2 ==1 ,list1)))))
sum_all

<img src="fmr.PNG">

In [ ]:
# More examples on Map , Filter , Reduce

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda n: n%2 ==0 ,list1)) # Filter even numbers from the list
odd =  list(filter(lambda n: n%2 !=0 ,list1))   # Filter odd numbers from the list

print('--------')
print(even)
print(odd)
print('--------')

list2 = ['one' , 'TWO' , 'three' , 'FOUR']

upper = list(filter(lambda x: x.isupper() , list2)) # filter uppercase strings from the list

lower = list(filter(lambda x: x.islower() , list2)) # filter lowercase strings from the list


print(upper)
print(lower)
print('--------')

list3 = ['one' , 'two2' , 'three3' ,'88' , '99' , '102']

numeric = list(filter(lambda x:x.isnumeric(), list3))  # filter numbers from the list

alpha = list(filter(lambda x:x.isalpha(), list3))      # filter character strings from the list

alphanum = list(filter(lambda x:x.isalnum(), list3)) # filtr numbers & character strings from the list


print(alpha)
print(numeric)
print(alphanum)
print('--------')


#Vowel Test

In [ ]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

def double(x):
    return x+x

def add(x,y):
    return x+y

def square(x):
    return x*x

print('---------------')

print(list(map(double, list1))) # Double each number using map & User defined function
print(list(map(add, list1, list2))) # add two items  using map & User defined function
print(list(map(square, list1))) #Square numbers using map & User defined function

print('---------------')

print(list(map(lambda x: x + x, list1))) # Double each number using map & lambda
print(list(map(lambda x, y: x + y, list1, list2))) # add two items  using map & lambda
print(list(map(lambda x: x*x, list1))) #Square numbers using map & lambda

print('---------------')

In [ ]:
list2 = [1,2,3,4]

product = reduce (operator.mul,list2) # Product of all numbers in a list

add = reduce(operator.add,list2) # Add all numbers in the list

concat_str = reduce(operator.add , ['Python' , ' ' , 'Rocks']) # Concatenate string using reduce

prod = reduce(operator.mul,['Hello ' , 3]) #Repeat a string multiple times

min_num = reduce(lambda a, b: a if a < b else b, list2) # Minimum number in the list using reduce () & lambda

max_num = reduce(lambda a, b: a if a > b else b, list2) # Maximum number in the list using reduce () & lambda

print(product)

print(add)

print(concat_str)

print(prod)

print(min_num)

print(max_num)

In [ ]:
def min_func(a, b):
        return a if a < b else b


def max_func(a, b):
    return a if a > b else b

min_num = reduce(min_func, list2) # Minimum number in the list using reduce () & User defined min function

max_num = reduce(max_func, list2) # Maximum number in the list using reduce () & User defined min function

min_num , max_num

In [ ]:
print('------')
print(reduce(lambda a, b: bool(a and b), [0, 0, 1, 0, 0])) # Returns True if all values in the list are True
print(reduce(lambda a, b: bool(a and b), [2, 3, 1, 5, 6])) # Returns True if all items in the list are True
print(reduce(lambda a, b: bool(a and b), [8, 9, 1, 0, 9])) # Returns True if all values in the list are True

print('------')

print(reduce(lambda a, b: bool(a or b), [0, 0, 0, 0, 0]))  # Returns True if any item in the list is True
print(reduce(lambda a, b: bool(a or b), [2, 3, 1, 5, 6]))  # Returns True if any item in the list is True
print(reduce(lambda a, b: bool(a or b), [8, 9, 1, 0, 9]))  # Returns True if any item in the list is True

print('------')

# END